
.form-info-content {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 24px 16px;
}

.form-title,
.form-description {
  width: 100%;

  border: 0;
  outline: 0;

  box-sizing: border-box;

  font-family: Inter, sans-serif;
  color: var(--text);

  resize: none;
}

.form-title {
  font-size: 24px;
  font-weight: 600;
}

.form-description {
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-secondary);

  overflow: hidden;
}

.form-title::placeholder,
.form-description::placeholder {
  color: var(--text-tertiary);
}

.form-title:focus,
.form-description:focus {
  border-bottom: 1px solid var(--text-tertiary);
}

.form-title:disabled,
.form-description:disabled {
  opacity: 1;
  -webkit-text-fill-color: currentColor;
  background: transparent;
  cursor: default;
}

.form-title:disabled {
  color: var(--text);
}

.form-description:disabled {
  color: var(--text-secondary);
}

